
body {
  background-color: burlywood;
  margin: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container nav {
  display: flex;
}

.logo {
  width: 100px;
}